.app {
  transition: transform ease-in-out 0.8s, opacity ease-in-out 1.8s;
}

.app-loader {
  background: $light;
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  z-index: 3;
  opacity: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: opacity ease-in-out 0.2s, z-index ease-in-out 0.2s;

  &.hidden {
    opacity: 0;
    z-index: -1;
  }
}

.container-main {
  opacity: 0;
  transition: all ease-in-out 0.4s;
}

.prism-loader-wrap {
  opacity: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
  transition: all ease-in-out 0.4s;
}

.prism-loader {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  width: 50px;
  margin: -25px 0 0 -25px;
  border: 4px rgba(0, 0, 0, 0.25) solid;
  border-top: 4px black solid;
  border-radius: 50%;
  animation: spin2 1s infinite linear;

  @-webkit-keyframes spin2 {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(359deg);
    }
  }
  @keyframes spin2 {
    from {
      transform: rotate(0deg);
      transform: rotate(0deg);
    }
    to {
      transform: rotate(359deg);
      transform: rotate(359deg);
    }
  }
}

.preloader {
  width: 200px;
  height: auto;
}

/* take a bunch of the svg attributes and place them here for the sake of dryness */
path {
  fill: none;
  stroke: $dark;
  stroke-width: 8px;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 10;
  stroke-dashoffset: 0;
}

.stroke-I {
  stroke-dasharray: 1200;
  animation: write1 2.5s linear;
}

.stroke-an {
  stroke-dasharray: 360;
  animation: write2 2.5s linear;
}

.stroke-flourish {
  stroke-dasharray: 40;
  animation: write3 2.5s linear;
}

@-webkit-keyframes write1 {
  0% {
    stroke-dashoffset: 1200;
  }
  15%,
  20% {
    stroke-dashoffset: 430;
  }
  25%,
  35% {
    stroke-dashoffset: 390;
  }
  51%,
  80% {
    stroke-dashoffset: 0;
  }
}
@keyframes write1 {
  0% {
    stroke-dashoffset: 1200;
  }
  15%,
  20% {
    stroke-dashoffset: 430;
  }
  25%,
  35% {
    stroke-dashoffset: 390;
  }
  51%,
  80% {
    stroke-dashoffset: 0;
  }
}

@-webkit-keyframes write2 {
  0%,
  55% {
    stroke-dashoffset: 360;
  }
  58%,
  60% {
    stroke-dashoffset: 0;
  }
}

@keyframes write2 {
  0%,
  55% {
    stroke-dashoffset: 360;
  }
  58%,
  60% {
    stroke-dashoffset: 0;
  }
}

@-webkit-keyframes write3 {
  0%,
  65% {
    stroke-dashoffset: 40;
  }
  70% {
    stroke-dashoffset: 0;
  }
}

@keyframes write3 {
  0%,
  65% {
    stroke-dashoffset: 40;
  }
  70% {
    stroke-dashoffset: 0;
  }
}
