h1 {
  margin-bottom: 15px;
  @include font-type($orbitronBold, black, 24px, 32px, 1px);

  @include respond-to(xs) {
    font-size: 12px;
  }
}

h3 {
  width: 100%;
  display: block;
  margin-bottom: 10px;
  @include font-type($orbitronLight, black, 14px, 20px, 1px);

  @include respond-to(xs) {
    font-size: 12px;
  }
}

.logo {
  background: url("../img/logo.png") no-repeat left center / contain;
  @include font-type($orbitronMedium, $lightGrey, 24px, 30px, 0);
  display: flex;
  align-items: center;
  width: auto;
  height: 65px;
  padding-left: 75px;
}

.burger-menu {
  cursor: pointer;
  display: none;
  background: transparent;
  border: none;
  border-left: 1px solid $light;

  span {
    width: 40px;
    height: 4px;
    border-radius: 2px;
    display: block;
    margin-bottom: 4px;
    background: $light;

    &:last-child {
      margin-bottom: 0;
    }
  }

  @include respond-to(sm) {
    display: block;
  }
}

.header-row {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.aside-menu {
  padding: 40px 20px 40px 0;

  .nav-title {
    width: 100%;
    display: flex;
    align-items: center;
    background: $black;
    padding: 5px;
    box-sizing: border-box;
    margin-bottom: 5px;
    @include font-type($orbitronLight, $light, 18px, 24px, 1px);

    &:hover {
      color: lightgrey;
    }
  }

  .nav-link.active {
    color: blue;
    font-weight: bold;
  }

  .nav-title.active {
    color: grey;
    font-weight: bold;
  }

  ol {
    li {
      background: white;

      a {
        display: block;
        transition: color ease-in 0.2s;
        @include font-type($orbitronLight, $dark, 12px, 18px, 1px);

        &:hover {
          color: blue;
        }
      }

      .details {
        overflow: hidden;
      }

      &.toggle {
        .details ol {
          display: none;
        }

        &.active {
          .details {
            .details-subtitle {
              background-color: black;
              color: white;
            }

            ol {
              display: block;
            }
          }
        }

        .details {
          cursor: pointer;
          margin-bottom: 5px;
          background-color: rgba(100, 100, 100, 0.1);
          transition: background-color ease-in-out 0.2s;
          position: relative;
          text-align: right;

          .details-subtitle {
            position: relative;
            @include font-type($orbitronMedium, red, 14px, 20px, 0);

            &::before {
              content: "";
              position: absolute;
              left: 10px;
              top: 9px;
              width: 10px;
              height: 3px;
              background: red;
            }
          }
        }
      }
    }
  }
}
